@font-face {
    font-family: 'Mont-ExtraLight';
    src: url('../fonts/Mont-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-Light';
    src: url('../fonts/Mont-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Mont-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-SemiBold';
    src: url('../fonts/Mont-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-Bold';
    src: url('../fonts/Mont-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    font-family: 'Mont-Regular', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1960px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.content {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: rgba(0, 21, 20, 0.6);
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
    max-width: 1920px;
    width: 100%;

    &Box {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 0 55px;
    }

    &Inner {
        display: flex;
        max-width: 500px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &Languages {
        display: flex;
        gap: 15px;
    }

    &Lang {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, .33);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;
        color: #fdd099;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &.active {
            border: 1px solid rgba(255, 255, 255, 1);
        }

        &:hover {
            border: 1px solid rgba(255, 255, 255, 1);
        }
    }

    &Wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        max-width: 850px;
        width: 100%;
    }

    &Time {
        font-family: 'Mont-SemiBold';
        font-size: 37px;
        line-height: 41px;
        color: #fdd099;
    }

    &EmailLink {
        padding-left: 55px;
        position: relative;
        font-size: 15px;
        line-height: 19px;
        text-decoration: underline;
        color: #fdd099;          

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-image: url('../images/mail.png');
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }

    &Btn {
        font-family: 'Mont-Regular', sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #001514;
        width: 240px;
        height: 56px;
        background-color: #fdd099;
    } 
}

.about {
    position: relative;

    &Navigation {
        position: absolute;
        top: 525px;
        left: -351px;
        z-index: 1000;
        transform: rotate(-90deg);
        max-width: 796px;
        width: 100%;
    }

    &NavigationList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background-color: #fff;
        height: 95px;
        padding: 0 45px;
    }

    &NavigationLink {
        font-family: 'Mont-Regular', sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #001514;
        transition: all .2s ease-in-out;

        &:hover {
            color: #ed9438;
        }
    }

    &Slider {
        position: relative;
        overflow: hidden;

        &Overlay {
            width: 640px;
            position: absolute;
            height: 795px;
            background-color: rgba(0,21,20,.6);
            bottom: 6px;
            left: 0;
            z-index: 100;
        }

        &Info {
            position: absolute;
            left: 320px;
            top: 295px;
            z-index: 100;
        }

        &Title {
            max-width: 960px;
            width: 100%;
            font-family: 'Mont-ExtraLight', sans-serif;
            font-weight: 200;
            font-size: 90px;
            line-height: 100px;
            color: #fff;
            margin-bottom: 70px;
        }

        &Text {
            max-width: 530px;
            width: 100%;
            font-family: 'Mont-Regular', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: #fdd099;
            margin-bottom: 40px;
        }

        &Btn {
            font-family: 'Mont-Regular', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            width: 240px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ed9438;
        }
    }

    &Socials {
        position: absolute;
        right: 50px;
        top: 350px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 35px;

        &Item {
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}